body {
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border-radius: 10px;
    border-color: transparent;
    margin: 5px;
    width: 200px;
}

form{
    display: grid;
    width: 280px;
    place-items: center;
}

button{
    border-radius: 10px;
    background-color: rgb(170, 136, 74);
    border-color: rgb(156, 125, 68);
    margin: 5px;
    padding: 2px 10px;
    max-width: 120px;
    transition: all 0.2s ease;
}

button:hover {
    background-color: rgb(163, 128, 69);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}